<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Beachbody Tests Suite" parallel="classes"
	thread-count="2">
	<listeners>
		<listener class-name="com.xassure.listeners.ReportListeners" />
	</listeners>
	<test name="Regression Tests">
		<classes>
			<class name="com.xassure.api.tests.TestBeachbodyWorkflow" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
